#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$AtD2zmwEJSDfbKnc$ChXbmyEh9MOhqG.G0RVo1DdVHA3mc/urFefoFGFR627ztytk.2Q5/sZlyLlv81lLUmMLoYpFPCgz1tBi88Gob0
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
user --name=vimal --password=$6$2wu8GkvHPWz6ELyz$GjUJqNi8l.DErodVE4r8M/B7JgXCkLNpgmJGjqH.Cs3yXDUE57.NyS4/mX0KkwC4sW0afRHlJxZsZyQhpfpsK. --iscrypted --gecos="vimal"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
